*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f2f2f2;
}

h1{
  text-align: center;
}

.content{
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  display: block;
  font-family: "Open Sans";
  background-color: white;
  padding: 25px;
}

form{
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

form #q{
  width: 100%;
  text-align: center;
  padding: 5px 0px;
}

table,
table tr{
  width: 100%;
}

table,
table tr,
table tr th,
table tr td{
  border: 1px solid lightgray;
  border-collapse: collapse;
}

table tr th,
table tr td{
  padding: 5px 15px;
}