<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="page" class="site page-home">
        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="../index.php"><span class="circle"></span>Hamburgo</a></div>
                    <a href="../index.php" class="t-close flexcenter"><span class="ri-close-line"></span></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>
        
        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="../index.php"><span class="circle"></span>Hamburgo D.C</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Main -->

            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header -->

        <main>
            <section class="user_profile">
              <div class="container header">
                <div class="row">
                  <div class="twelve columns avatar"><span>T</span></div>
                </div>
                <div class="row">
                  <div class="twelve columns">
                    <h1>Whatsup Timothy!</h1>
                    <p>Welcome to your profile. Feel free to make edits to your personal<br/>information as well as manage your devices.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="one-half column">
                    <a href="#connect" class="button-connect">Connect to Facebook</a>
                  </div>
                  <div class="one-half column upgrade">
                    <p>Account Type: <strong>Free</strong> <a href="#upgrade" class="button button-upgrade">Upgrade</a></p>
                  </div>
                </div>
              </div>
              <div class="container tabs-area">
                <div class="row">
                  <ul class="tabs">
                    <li><a href="#profile" class="active">Profile</a></li>
                    <li><a href="#devices">Devices</a></li>
                  </ul>
                </div>
                <div class="tab">
                  <div class="row title">
                    <div class="one-half column">
                      <h5>Profile</h5>
                    </div>
                    <div class="one-half column r-align">
                      <a href="#editprofile" class="button-edit">Edit Profile</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two-thirds column">
                      <form>
                        <div class="row">
                          <div class="one-half column">
                            <label for="username">Username</label>
                            <input class="u-full-width" readonly type="text" value="NapoleanDynamite" id="username">
                          </div>
                          <div class="one-half column">
                            <label for="post-code">Postal Code</label>
                            <input class="u-full-width empty" readonly type="text" value="" id="post-code">
                          </div>
                        </div>
                        <div class="row">
                          <div class="one-half column">
                            <label for="email">Email</label>
                            <input class="u-full-width" readonly type="email" value="test@test.com" id="email">
                          </div>
                          <div class="one-half column">
                            <label for="gender">Gender</label>
                            <select class="u-full-width" disabled id="gender">
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="one-half column">
                            <label for="dob">Date of Birth</label>
                            <input class="u-full-width empty" readonly type="text" value="" id="dob">
                          </div>
                          <div class="one-half column">
                            <label for="age">Age</label>
                            <input class="u-full-width empty" readonly type="text" value="" id="age">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="one-third column complete">
                      <h6>Profile Completeness</h6>
                      <div class="pie">
                        <div class="slice-right"></div>
                        <div class="slice-left"></div>
                        <div class="percent">
                          <div class="number">50<sup>%</sup><br/><span>Complete</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>
</body>
</html>