<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../css/cuenta.css">
</head>
<body>
    <section class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre" required>
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido" required>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingresa su correo electrònico" required>
        <input class="controls" type="tel" namer="numero" id="numero" placeholder="Ingrese su nùmero telefonico" required>
        <!-- <input class="controls" type="date" name="fecha" id="fecha" placeholder="Ingresa tu fecha de nacimiento"> -->
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su contraseña"required>
        <input class="controls" type="password" name="correo" id="correo" placeholder="Confirme su contraseña" required>
        <p>Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="sesion.html">¿Ya tienes una cuenta?</a></p>



    </section>
</body>
</html>